html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;
	background: #111 url('../img/ui/menu-bg.png') repeat-x center center;
	/*background-size: 100% 50%;*/
	color: #cccc00;
	font-family: 'Junge',serif;
	overflow: hidden;
	cursor:default;
}

::-webkit-input-placeholder {
	color: rgba(204, 204, 0, 0.3);
}

::-moz-placeholder {
	color: rgba(204, 204, 0, 0.3);
}

#loading {
	position:absolute;
	top: 50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#loading h4 {

	font-size:48px;
	color:#999;
	margin:0 0 20px 0;
	padding:0;
	text-shadow: 1px 1px 0.2em #000;

}

#loading progress {

	width: 100%;
	height:20px;
	border: 1px solid #cccc00;

}

#loading progress::-webkit-progress-bar { background:#000; }
#loading progress::-webkit-progress-value { background:#226; }

#my-gui-container {
	position: absolute;
	bottom: 40px;
	left: 40px;
	z-index: 9999999;
	font-size: 13px;
	font-family: Arial;
}

#wrapper {
	height: 100%;
}

#maincanvas {
	width: 100%;
	height: 100%;
}

.hud-canvas {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
}

#uiwrap {

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 400;

}

#uiwrap > div {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}

#hud-score {
	position: absolute;
	top: 20px;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	text-align: center;
}

#hud {
	font-size: 1.5em;
	text-shadow: 1px 1px 0.2em #000;

}

#hud-score > div {
	width: 140px;
	display: inline-block;
}

#hud-score small {
	font-size: 0.5em;
}

#hud-name-1 {
	position: absolute;
	top: 20px;
	left: 20px;
	text-align: left;
}

#hud-name-2 {
	position: absolute;
	top: 20px;
	right: 20px;
	text-align: right;
}



#hud-score strong {
	display:block;
	font-size: 1.8em;

}

.overlay {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:100;
}

#clickme {
	background-color: rgba(0,0,0,0.5);
	z-index: 999;
}

#clickme p {
	position: absolute;
	text-align: center;
	top: 45vh;
	color: #fff;
	font-size:1em;
	text-align: center;
	width: 100%;
}

#overlay-red {
	background-color: rgba(255,0,0,0.6);
	display:none;
}

#ironsight {
	position:absolute;
	top:50%;
	left:50%;
	width: 50px;
	text-align:center;
	margin-left:-25px;
	color: white;
	z-index:30;
	font-size:10px;
}
.menu, #detect {
	text-align: center;
	position:absolute;
	height: 510px;
	top: 50%;
	width:100%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	z-index: 999;
	text-align:center;
	background:rgba(0,0,0,0.9);
}
.menu .actions, .menu .join-details, .menu .staging, .menu .setup, .menu .creditspage, .menu .howtopage, .menu .optionspage, .menu .recordspage, #no-gl, #fail-gl {
	position:absolute;
	top: 50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.menu {
	display:none;
	color:#ccb;
	text-shadow: 1px 1px 0.2em #000;
}

#bg {
	width:100%;
	border-top:1px solid white;
	border-bottom:1px solid white;
	background: black;
	position:absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-align:center;
	overflow:hidden;
	height:512px;
}

#enemy-left, #enemy-right {
	opacity:0;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	-ms-transition: all 1s ease-in;
	transition: all 1s ease-in;
}

#enemy-left {
	position:absolute;
	top:52%;
	left: -376;
	/*left: 50%;*/
	-webkit-transform: translate(-150%, -50%);
	transform: translate(-150%, -50%);
	height:512px;
	width:376px;
	z-index:100;
}

#enemy-right {
	position:absolute;
	top:52%;
	left: 100%;
	/*left: 50%;*/
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	height:512px;
	width:376px;
	z-index:100;
}

.in {
	opacity:1!important;
	left: 50%!important;
}

#enemy-left img, #enemy-right img {
	width:100%;
	height:100%;
}


#copyright {
	position:absolute;
	width:100%;
	text-align:center;
	color:#888;
	text-shadow: 1px 1px 0.2em #000;
	font-size:11px;
	top: 50%;
	-webkit-transform: translate(0,266px);
	transform: translate(0,266px);
}

#logo {
	display: block;
	background: #000; /* url('../img/ui/clouds.png');*/
	width: 502px;
	height: 502px;
	margin: 5px auto;
}

@-webkit-keyframes fog1 {
    0% {
        opacity:0.6;
        background-position:0 0;
    }
    50% {
        opacity:0.2;
    }
    100% {
        opacity:0.6;
        background-position:512px 512px;
    }
}
@-moz-keyframes fog1 {
    0% {
        opacity:0.6;
        background-position:0 0;
    }
    50% {
        opacity:0.2;
    }
    100% {
        opacity:0.6;
        background-position:512px 512px;
    }
}

@-webkit-keyframes fog2 {
    0% {

        background-position:0 0;
    }

    100% {

        background-position:-512px 0;
    }
}
@-moz-keyframes fog2 {
    0% {

        background-position:0 0;
    }
    100% {

        background-position:-512px 0;
    }
}

#logo #layer {
	position:absolute;
	top:0;
	left:50%;
	z-index:8;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	height:512px;
	width:512px;
	background: #000 url('../img/ui/clouds.png') top center;

	-webkit-transition: all 5s linear;
	-moz-transition: all 5s linear;
	-o-transition: all 5s linear;
	-ms-transition: all 5s linear;
	transition: all 5s linear;

	-webkit-animation-direction: normal;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: fog1;
	-webkit-animation-timing-function: linear;

	-moz-animation-direction: normal;
	-moz-animation-duration: 5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: fog1;
	-moz-animation-timing-function: linear;
}
#logo #layer2 {
	opacity:0.6;
	position:absolute;
	top:0;
	left:50%;
	z-index:7;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	height:512px;
	width:512px;
	background: #000 url('../img/ui/clouds2.png') top center;

	-webkit-transition: all 3s linear;
	-moz-transition: all 3s linear;
	-o-transition: all 3s linear;
	-ms-transition: all 3s linear;
	transition: all 3s linear;

	-webkit-animation-direction: normal;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: fog2;
	-webkit-animation-timing-function: linear;

	-moz-animation-direction: normal;
	-moz-animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: fog2;
	-moz-animation-timing-function: linear;
}

#logo img {
	position:absolute;
	top:0px;
	left:50%;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	height:512px;
	width:512px;
	background: transparent;
	z-index:9;
}

@-webkit-keyframes blink {
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes blink {
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

#startprompt {
	position:absolute;
	top:52%;
	left: 50%;
	-webkit-transform: translate(-50%, 180px);
	transform: translate(-50%, 180px);
	z-index:90;
	font-size:24px;

	-webkit-transition: all 2s linear;
	-moz-transition: all 2s linear;
	-o-transition: all 2s linear;
	-ms-transition: all 2s linear;
	transition: all 2s linear;

	-webkit-animation-direction: normal;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: blink;
	-webkit-animation-timing-function: linear;

	-moz-animation-direction: normal;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: blink;
	-moz-animation-timing-function: linear;
}

.menu button {
	color: #cccc00;
	font-family: 'Junge',serif;
	font-size: 28px;
	border:none;
	display:block;
	margin:10px auto;
	width:300px;
	text-align:center;
	background: transparent;
	cursor:pointer;
	text-shadow: 1px 1px 0.2em #000;
}

.menu button.disabled {
	color:#555;
	cursor:default;
}

.menu button:hover {
	color: #cc7777;
	background:transparent url('../img/ui/select.png') no-repeat center center;
}

.menu button.disabled:hover {
	color:#555;
	background:transparent;
}

.menu button.bevel {
	border-radius: 5px;
	color: #cccc00;
	background: transparent;
	font-family: 'Junge',serif;
	font-size: 28px;
	border: 1px solid #cccc00;
	cursor:pointer;
	padding:10px;
}
.menu input, .menu select, .setup input, .setup select, .staging input {
	border-radius: 5px;
	color: #cccc00;
	background: transparent;
	font-family: 'Junge',serif;
	font-size: 28px;
	border: 1px solid #cccc00;
	-webkit-transition: box-shadow 1s;
	transition: box-shadow 1s;
}

.menu input[type="checkbox"], .menu select, .menu input[type="range"] {
	cursor: pointer;
}

.menu input[type="text"] {
	cursor: text;
}

.menu input[type="checkbox"] {
	background:#000;
	border-radius: 5px;
	border: 1px solid #cccc00;
	width:15px;
	height:15px;
	-webkit-appearance:none;
}

.menu input[type="checkbox"]:checked {
	background:#cc0;
}

.menu select:focus {
	background: #000;
}

.menu option:checked, .menu input:checked {
	background: #cccc00;
	color: #000;
}

.menu select:hover, .menu option:hover {
	background: #cccc00;
	color: #000;
}

input.error, select.error{
	box-shadow: 0px 0px 30px rgba(200, 200, 0, 0.8);
}

.menu .optionspage table {
	margin: 20px 0;
	width: 500px;
}

.menu .optionspage th, .menu .optionspage td {

	width:50%;
	padding:5px 10px;

}

input[type="range"]{
	-webkit-appearance:none;
	-moz-apperance:none;
	width:100%;
	height:15px;
}
input::-webkit-slider-thumb {
	-webkit-appearance:none;
	-moz-apperance:none;
	width:15px;
	height:15px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color: #cc0;
}

.menu .optionspage select, .menu .optionspage input {
	font-size:13px;
}

.menu .optionspage th {
	text-align: right;
}

.menu .optionspage td {
	text-align: left;
}

#no-gl, #fail-gl {
	display:none;
	line-height:1.6;
	color:#fcc;

}

.menu .join-details, .menu .creditspage, .menu .howtopage, .menu .recordspage, .menu .optionspage, .menu .recordspage {
	display: none;
}

a {

	color: #acd;
	text-decoration:none;

}

a:hover {

	color: #cc7777;

}

.menu h1, .menu h2 {

	color: #fff;
}

.menu .creditspage ul {
	list-style-type:none;
	margin:40px 0;
	padding:0;
}

.menu .creditspage ul li {
	margin:10px 0;
	padding:0;
}

.menu .howtopage p {
	line-height:1.6;
}

.menu .howtopage strong {
	color:#aea;

}

.menu .recordspage {
	width: 900px;
}

.menu .recordspage .records ul {
	list-style: none;
	font-size: 15px;
	line-height: 25px;
}

.menu .recordspage .player-name {
	font-weight: bold;
	color: #cccc00;
}

#gun {
	position:absolute;
	bottom:-10%;
	left:70%;
	height:30%;
	z-index:300;
	width:100%;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

#gun-ready {
	height:100%;
	width:auto;
	position:absolute;
}

#gun.aim {
	bottom:0;
	left:50%;
}

#gun.aim #gun-ready {
	display:none;
}

#gun-aim {
	position:absolute;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	display:none;
	height:100%;
}

#gun.aim #gun-aim {
	display:block;
}

#gun.reload {
	bottom:-20%;
	left:40%;
}

input.uuid {
	font-size: 14px;
	border: 0;
	width: 300px;
	text-align: center;
}

#status {
	position:absolute;
	bottom:20px;
	left:20px;
}

#reloader {
	display:none;
}

@-webkit-keyframes reload {
    0% {
        color:#f00;
    }
    50% {
        color:#fff;
    }
    100% {
        color:#f00;
    }
}
@-moz-keyframes reload {
    0% {
        color:#f00;
    }
    50% {
        color:#fff;
    }
    100% {
        color:#f00;
    }
}

@-webkit-keyframes sprite_flicker {
    from { background-position:0 0px; }
    to { background-position:0 -248px; }
}
@-moz-keyframes sprite_flicker {
    from { background-position:0 0px; }
    to { background-position:0 -248px; }
}

@-webkit-keyframes letters_bounce_first {
    from { bottom:45px; }
    /*to { bottom:37px; }*/
    to { bottom:-0px; }
}
@-moz-keyframes letters_bounce_first {
    from { bottom:45px; }
    /*to { bottom:37px; }*/
	to { bottom:-0px; }
}
@-webkit-keyframes letters_bounce_second {
    from { bottom:-3px; }
    /*to { bottom:25px; }*/
    to { bottom:43px; }
}
@-moz-keyframes letters_bounce_second {
    from { bottom:-3px; }
    /*to { bottom:25px; }*/
	to { bottom:43px; }
}

#reloader h3 {
	color: #F00;
	margin-bottom: 5px;

	position: absolute;
	z-index: 200;
	bottom: 20px;
	font-size: 32px;

	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;

	-webkit-animation-direction: normal;
	-webkit-animation-duration: 0.2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: reload;
	-webkit-animation-timing-function: linear;

	-moz-animation-direction: normal;
	-moz-animation-duration: 0.2;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: reload;
	-moz-animation-timing-function: linear;
}

#reloader progress {

	width: 100%;
	height:20px;
	border: 1px solid #cccc00;

}

#reloader progress::-webkit-progress-bar { background:#000; }
#reloader progress::-webkit-progress-value { background:#226; }
#reloader .info_graphic {
	position:relative;
}
#reloader .info_graphic .icon {
	width:240px;
	height:124px;
	background:url('../img/ui/reload_button.png') 0 0 no-repeat;
	background-size:240px 248px;

	-webkit-filter: grayscale(70%) brightness(50%);
	-moz-filter: grayscale(70%) brightness(50%);
	filter: grayscale(70%) brightness(50%);

	-webkit-animation: sprite_flicker .3s steps(2) infinite;
	-moz-animation: sprite_flicker .3s steps(2) infinite;
	-ms-animation: sprite_flicker .3s steps(2) infinite;
	-o-animation: sprite_flicker .3s steps(2) infinite;
	animation: sprite_flicker .3s steps(2) infinite;
}
#reloader .info_graphic .letter {
	font-family: arial;
	font-weight: bold;
	color: white;
	text-shadow: -1px -1px 0 black;
	position: absolute;
	bottom: 67px;
	left: 56px;
	-webkit-transform:rotate(30deg) skew(-30deg);
	-moz-transform:rotate(30deg) skew(-30deg);
	font-size: 32px;
	z-index:1;

	-webkit-animation: letters_bounce_first .3s steps(2) infinite;
	-moz-animation: letters_bounce_first .3s steps(2) infinite;
	-ms-animation: letters_bounce_first .3s steps(2) infinite;
	-o-animation: letters_bounce_first .3s steps(2) infinite;
	animation: letters_bounce_first .3s steps(2) infinite;
}
#reloader .info_graphic .second.letter {
	left: 156px;
	bottom: -5px;

	-webkit-animation: letters_bounce_second .3s steps(2) infinite;
	-moz-animation: letters_bounce_second .3s steps(2) infinite;
	-ms-animation: letters_bounce_second .3s steps(2) infinite;
	-o-animation: letters_bounce_second .3s steps(2) infinite;
	animation: letters_bounce_second .3s steps(2) infinite;
}
