<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAD Socket Tests</title>
    <style type="text/css">
        .opponent{
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
</head>
<body>
    <div class="choice">
        <button class="host">HOST</button>
        <button class="client">CLIENT</button>
    </div>
    <div class="client-input" style="display:none;">
        <input type="text" class="host-id"/>
        <button class="connect-client">Connect</button>
    </div>
    <img class="opponent" src="http://png-2.findicons.com/files/icons/2232/wireframe_mono/48/cursor_arrow.png" height="20px"></img>
    <script type="text/javascript" src="/js/lib/jquery-1.10.2.min.js?<%= cache_buster %>"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js?<%= cache_buster %>"></script>
    <script type="text/javascript" src="/js/socket_test.js?<%= cache_buster %>"></script>
</body>
</html>